* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 200px;
    border-bottom: 1px solid black;
}

div.content {
    min-height: 300px;
}

footer {
    height: 100px;
    background-color: #333;
    color: #eee;
}
div.container {
    width: 1000px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    border-radius: 10px;
}

nav.mainmenu a {
    text-decoration: none;
    color: #eee;
    display: block;
    padding: 10px 20px;
    min-width: 150px;
    text-align: center;
}

nav.mainmenu ul ul a {
    text-align: left;
}

nav.mainmenu > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 50px;
}

nav.mainmenu li {
    background-color: #444;
    border-radius: 10px;
}

nav.mainmenu li:hover {
    background-color: #555;
}

nav.mainmenu > ul > li {  
    color: #eee;
    position: relative;
    height: 50px;
}

nav.mainmenu ul ul {
    display: none;
}

nav.mainmenu ul ul li {
    border-bottom: 1px solid #ddd;
}

nav.mainmenu > ul > li:hover > ul {
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #333;
}