/* body {
    background-color: lightblue;
    background-image: url(../img/tatiana.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
} */
/* .overlay {
    background-color: rgba(0, 0, 0, 0.7);
} */
h2 {
    text-align: center; 
    color: rgb(255, 0, 0);
} 
h3 {
    color: rgba(255, 0, 0, 0.5);
}
p {
    width: 50%;
    font-size: 18.5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
}
p#test {
    min-height: 100px;
}
.termin {
    padding-left: 40px;
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    color: blue;
}
a:link {
    color: green;
}
a:visited {
    color: black;
}

a::after {
    content: " был";
    color: red;
}

a[target] {
    color: red;
}

img {
    width: 50%;
}

p:first-child {
    color:red;
}
p:first-of-type {
    color:brown;
}
p:last-child {
    color: blue;
}
p::first-letter {
    color: red;
    font-size: 3em;
    float: left;
    margin-right: 5px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid red;
}

table.chess td {
    width: 20px;
    height: 20px;
}

/* table.chess tr:nth-child(even) {
    background-color: #eee;
}

table.chess tr:nth-child(odd) {
    background-color: #ccc;
} */