body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    width: 200px;
}
.main {
    padding: 20px;
}
.form_control {
    margin: 10px;
}
div.message {
    background-color: lightgreen;
    padding: 5px;
    border: 1px solid green;
}
div.login {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
form.login_form {
    width: 400px;
    border: 1px solid black;
}
form.login_form input {
    display: block;
    margin: 0 auto;
}